.introduction {
    background-color: #0d0d1f;
    color: #d1d1d1;
    height: 90vh; /* Prend toute la hauteur de la fenêtre */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centre verticalement le contenu */
    align-items: center; /* Centre horizontalement le contenu */
    padding: 20px;
    box-sizing: border-box;
}

.intro-text {
    text-align: left; /* Aligne le texte sur la gauche */
    max-width: 800px; /* Limite la largeur pour éviter un texte trop étalé */
}

  
  .intro-text h1 {
    font-size: 3em;
    color: #e0e0e0;
    margin-bottom: 0.5em;
  }
  
  .intro-text h2 {
    font-size: 2em;
    font-weight: 400;
    color: #a9a9a9;
    margin-bottom: 1em;
  }
  
  .intro-text h2 .highlight {
    color: #00ff00;
    font-weight: bold;
  }
  
  .intro-text p {
    font-size: 1.1em;
    color: #b0b0b0;
    margin-bottom: 2em;
  }
  
  .portfolio-button {
    display: inline-block;
    padding: 10px 20px;
    color: #00ff00;
    border: 1px solid #00ff00;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .portfolio-button:hover {
    background-color: #00ff00;
    color: #1a1a2e;
  }
  
  /* Styles pour le texte dynamique */
  #dynamic-text {
    border-right: 2px solid #00FF00;
    padding-right: 5px;
    animation: blink-caret 0.7s step-end infinite;
    color: #00FF00;
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #00FF00; }
  }
  