<section class="introduction">
    <div class="intro-text">
      <h1>Engineering the digital world from end to end.</h1>
      <h2>MAHTALI Mohamed, <span class="highlight" id="dynamic-text">{{ dynamicText }}</span></h2>
      <p>
        I am a developer with 3 years experience in building software. I leverage my fluency in English and coding skills to craft accessible, scalable, and high-performance applications.
      </p>
      <a href="#portfolio" class="portfolio-button">> Check Portfolio</a>
    </div>
  </section>
  