<section class="introduction">
    <div class="intro-text">
      <h1>Engineering the digital world </h1>
      <h2>MAHTALI Mohamed, <span class="highlight" id="dynamic-text">{{ dynamicText }}</span></h2>
      <p>
        Je suis un développeur avec 3 ans d'expérience dans la création de logiciels. Je mets à profit ma maîtrise de l'anglais et mes compétences en codage pour créer des applications accessibles, évolutives et performantes.
      </p>
      <a href="/about" class="portfolio-button">> En savoir plus sur moi ?</a>
    </div>
  </section>
  