<div class="app-container">
    <div class="no-code-showcase">
        <h2>Exemple de Projet Client</h2>
        <p class="intro">Du croquis initial au site final sur Wix ou Wordpress, ce projet démontre l'adaptabilité et l'engagement à respecter la vision du client.</p>
        
        <div class="section">
            <img src="/assets/mockup-design.png" alt="Maquette Design" class="showcase-image">
            <div class="text-content">
                <h3>Maquette Design</h3>
                <p>La collaboration a débuté par des discussions approfondies pour comprendre les besoins du client. Sur cette base, j'ai développé une maquette détaillée pour visualiser le projet final et ajuster le concept initial.</p>
            </div>
        </div>
        
        <div class="section">
            <div class="text-content">
                <h3>Développement HTML/CSS/Bootstrap</h3>
                <p>Suite à l'approbation de la maquette, j'ai procédé au développement du site en HTML, CSS et Bootstrap pour créer un code personnalisé sans utiliser de modèles prédéfinis.</p>
            </div>
            <img src="/assets/html-css-bootstrap.png" alt="HTML/CSS/Bootstrap Development" class="showcase-image">
        </div>
        
        <div class="section">
            <img src="assets/no-code-wix.png" alt="No-Code Wix Solution" class="showcase-image">
            <div class="text-content">
                <h3>Transition vers une solution No-Code avec Wix</h3>
                <p>Finalement, nous avons décidé de passer à une solution no-code en utilisant Wix, offrant une gestion de contenu simplifiée et plus de flexibilité pour répondre aux besoins du client en matière de gestion autonome du site.</p>
                <p><a href="https://www.lacremesolaire.fr/" target="_blank">Voici le résultat final.</a></p>
            </div>
        </div>
    </div>
</div>
